 // Page title and hero text, found at the top of Landing Page or Basic Page content.
 // To use, add .hero-text class to panel pane or view.
 // ---------------------------

.hero-text.panel-pane,
.hero-text.view {
  padding-top: $spacing-lg;
  text-align: center;
  .page-title,
  .views-field-title,
  .pane-title {
    margin-top: 0;
    margin-bottom: 10px;
    text-transform: uppercase;
  }
  .views-field-field-hero-text,
  .pane-content {
    max-width: 770px;
    margin: 0 auto;
    p {
      @extend .font-size--large;
    }
    .btn {
      margin-top: $spacing-md;
    }
  }
}