
.slick--carousel {
  position: relative;
  .slick-slide {
    padding: 0 20px;
    a {
      display: block;
      height: 80px;
      text-align: center;
    }
    img {
      display: inline;
    }
  }
  .slick-prev,
  .slick-next {
    display: none;
    visibility: hidden;
  }

  // Desktop

  @include media(md) {
    .slick-prev,
    .slick-next {
      position: absolute;
      top: 10px;
      display: block;
      visibility: visible;
      width: 19px;
      height: 32px;
      font-size: 0;
      text-indent: 100px;
      overflow: hidden;
      background-repeat: no-repeat;
      @include transition(opacity, .2s);
      cursor: pointer;
      &:hover,
      &:focus,
      &:active {
        opacity: .6;
      }
    }
    .slick-prev {
      left: -30px;
      background-image: url('../images/icons/carousel-arrow-left.png');
    }
    .slick-next {
      right: -30px;
      background-image: url('../images/icons/carousel-arrow-right.png');
    }
  }
}