// Teaser grid style display of a view.
// Used on home page Blog and Events views.
// ---------------------------

// If view has been given template to wrap .views-row in Bootstrap .row class
.teaser-grid {
  .view-content {
    @extend .clearfix;
  }
  .row:not(:last-of-type) {
    margin-bottom: 45px;
  }

  // Fields
  .category {
    margin-bottom: 10px;
    @extend .font-size--small;
  }
  img {
    @include transition(opacity, .2s);
    &:hover,
    &:focus {
      opacity: .8;
    }
  }
  .views-field-title h3 {
    margin-top: 10px;
    margin-bottom: 5px;
  }
  .community {
    font-style: italic;
    font-size: 15px;
  }
  .date-small {
    margin-bottom: 10px;
    @extend .font-size--small;
  }
  .read-more {
    display: block;
    margin-top: 10px;
    text-transform: uppercase;
  }
  .view-footer {
    margin-top: $spacing-lg;
    text-align: center;
  }

  // Below MD only

  @include media(below-md-only) {
    .row:not(:last-of-type) {
      margin-bottom: 0;
    }
  }
}

// If view has not been given template to wrap .views-row in Bootstrap .row class,
// this class will use JS to dynamically add row-separator divs in order to make
// grid fully responsive. @see Drupal.behaviors.teaser_grid
.teaser-grid--no-row {
  @extend .teaser-grid;
  @extend .row;
  & > .view-content > .views-row {
    margin-bottom: 45px;
  }
  .row-separator {
    display: block;
    clear: both;
    width: 100%;
  }
}