// Base font/typography styling
// ---------------------------

body, html {
  font-size: $font-size-base;
}

// Try to match appearance of fonts in content area to comps
.main-content,
.footer {
  -webkit-font-smoothing: antialiased;
}

p {
  letter-spacing: .01em;
}

// === Headers

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 h6, .h6 {
  -webkit-font-smoothing: auto;
}

h2, .h2 {
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

h3, .h3 {
  line-height: 1.3em;
}

h4, .h4 {
  font-weight: bold;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  color: $color-very-dark-gray;
}

// === Font size classes

.font-size--large {
  font-size: $font-size-large;
  font-weight: 300;
  -webkit-font-smoothing: auto;
}

.font-size--small {
  font-weight: 500;
  font-size: $font-size-small;
  -webkit-font-smoothing: auto;
  text-transform: uppercase;
  color: darken($color-font-base, 5%);
}