// General page layout related
// ---------------------------

// === Node with no panels

// Just in case, make sure pages without panels have their widths constrained to container.
body:not(.has-panels) .main-content {
  @extend .container-max-width--padding;
  padding-bottom: $spacing-lg * 2;
}

// === Panel panes

// If panel layout/template has not been customized to function with fullwidth_pane_options_radix.inc,
// make sure that content width is constrained to container.
.panel-display:not(.panelpane-width-options-layout) {
  @extend .container-max-width--padding;
}

body.has-panels .panel-display {
  padding-bottom: $spacing-lg * 2;
}

// === Main content area

body.front:not(.logged-in) .main-content {
  .panel-pane {
    &:last-of-type {
      border-bottom: none;
      padding-bottom: 0;
    }
  }
}

