// General forms related
// ---------------------------

// === Labels

label {
  font-size: $font-size-base;
  font-weight: bold;
}

// === Views exposed widget/filters

.views-exposed-widget {
  & > label {
    font-size: $font-size-base;
    text-transform: uppercase;
  }
}

// === Better Exposed Filters radios

.bef-select-as-radios {
  .form-type-radio {
    margin-bottom: 8px;
  }
  .control-label {
    color: $color-brand-primary;
    font-size: $font-size-medium;
    .form-radio {
      margin-top: 4px;
    }
  }
}