// Events landing and Events nodes
// ---------------------------

// === Events landing

.page-node-55.landing-page {
  .view-filters {
    @extend .container-max-width--padding;
    .views-exposed-widgets {
      margin-bottom: $spacing-lg;
    }
    .views-exposed-widget {
      float: none;
      padding: 0;
      text-align: center;
      label,
      .views-widget {
        display: inline-block;
        vertical-align: middle;
        margin-bottom: 0;
      }
      label {
        margin-right: 20px;
      }
    }
  }
}

// === Events node

.node-type-event {
  .field-name-field-event-image {
    margin-bottom: $spacing-md;
  }
}

// Events detail views/panes
.pane-event-details-pane-details,
.pane-event-details-pane-venue-sponsor,
.pane-event-details-pane-other-sponsors,
.pane-event-details-map {
  margin-bottom: $spacing-lg;
  // Disguise event detail pane titles as H4
  .pane-title {
    @extend .h4;
  }
}

// Event details view display
.pane-event-details-pane-details {
  .pane-title {
    margin: 0;
    padding-bottom: $spacing-md;
    border-bottom: 1px solid $color-light-gray;
  }
}
.view-event-details.view-display-id-pane_details {
  .views-field {
    @extend .clearfix;
    padding: 5px 0;
    border-bottom: 1px solid $color-light-gray;
  }
  .views-label {
    float: left;
    width: 50%;
  }
  .field-content {
    float: right;
    width: 50%;
    padding-left: 10px;
  }
  .view-footer {
    margin-top: $spacing-md;
  }
}

// Event details view venue sponsor & other sponsors displays
.view-event-details.view-display-id-pane_venue_sponsor,
.view-event-details.view-display-id-pane_other_sponsors {
  .views-row {
    margin: 20px 0 45px 0;
  }
}